.content {
  max-width: 1124px;
  margin: 0 auto;
}

.content__wrap {
  max-width: 956px;
  margin: 0 auto;
}

.content__search-block {
  width: 100%;
  border-bottom: 1px solid rgba(117, 117, 117, 0.3);
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.search-restaurant:hover {
  cursor: pointer;
}

.content__search {
  padding: 8px 0 16px 8px;
  border: transparent;
  outline: 0;
  width: 100%;
}

.content__title {
  font-size: 22px;
  line-height: 34px;
  color: var(--title-of-restaurant);
  margin: 56px 0 16px;
}
