.footer {
  background: var(--background-fotter);
  width: 100%;
  margin: 0 auto;
}

.footer__wrap {
  max-width: 956px;
  margin: 0 auto;
}

.footer__logo,
.footer__navigation,
.footer__app-button {
  border-bottom: 1px solid var(--footer-border);
  width: 100%;
}

.footer__logo-wrap {
  padding: 56px 0 40px;
}

.footer__navigation {
  display: flex;
  margin-top: 32px;
  padding-bottom: 118px;
}
/*-----------------------------*/
.dropdown {
  position: relative;
  cursor: default;
  display: inline-block;
  background-color: #3b3b3b;
  width: 227px;
  height: 40px;
  border: transparent;
  transition: 0.5s;
}

.dropdown-language {
  padding: 12px 0 12px 22px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-white);
}

.dropdown-world {
  padding-right: 17px;
}

.dropdown-img {
  margin-left: auto;
  padding-right: 8px;
}
/*------------------------------*/

.use-hashtag {
  color: var(--color-white);
  line-height: 16px;
  padding: 33px 0 20px;
}

.use-hashtag__hashtag {
  color: #49a144;
}

.footer__network-facebook,
.footer__network-twitter {
  padding-right: 19px;
}

.footer__become-partner,
.footer__general-info {
  list-style: none;
  margin: 7px 0 0;
  color: var(--color-white);
  font-size: 13px;
  line-height: 15px;
}

.footer__become-partner {
  padding-left: 97px;
}

.footer__general-info {
  padding-left: 154px;
}

.become-partner__list,
.general-info__list {
  padding-bottom: 23px;
}

.footer__app-button {
  padding: 40px 0 39px;
}

.footer__app-wrap {
  margin: 0 auto;
  width: 296px;
  display: flex;
  justify-content: space-between;
}

.footer__app-store {
  max-width: 119px;
  height: 40px;
}

.footer__google-play {
  max-width: 135px;
  height: 40px;
}

.footre__privacy {
  list-style: none;
  font-size: 11px;
  line-height: 13px;
  color: var(--color-white);
  display: flex;
  padding: 40px 0;
}

.footer__list-copyright {
  padding-right: 174px;
}

.footer__list-privacy {
  padding-right: 288px;
}
